<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="paymentRequest">
            <h2><span>Payment Request</span> {{ paymentRequest.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Msisdn</span></dt>
                <dd>
                    <span>{{ paymentRequest.msisdn }}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{ paymentRequest.amount }}</span>
                </dd>
                <dt><span>Identification No</span></dt>
                <dd>
                    <span>{{ paymentRequest.identificationNo }}</span>
                </dd>
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{ paymentRequest.firstName }}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{ paymentRequest.lastName }}</span>
                </dd>
                <dt><span>Comment</span></dt>
                <dd>
                    <span>{{ paymentRequest.comment }}</span>
                </dd>
                <dt><span>Payment State</span></dt>
                <dd>
                    <span>{{ paymentRequest.paymentState }}</span>
                </dd>
                <dt><span>Payment Tx Id</span></dt>
                <dd>
                    <span>{{ paymentRequest.paymentTxId }}</span>
                </dd>
                <dt><span>Payment Message</span></dt>
                <dd>
                    <span>{{ paymentRequest.paymentMessage }}</span>
                </dd>
                <dt><span>Bulk Disbursement</span></dt>
                <dd>
                    <div *ngIf="paymentRequest.bulkDisbursementId">
                        <a [routerLink]="['/bulk-disbursement', paymentRequest.bulkDisbursementId, 'view']">{{ paymentRequest.bulkDisbursementBulkId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/payment-request', paymentRequest.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
