<div>
    <h2 id="page-heading">
        <span>Payment Requests</span>

<!--        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-payment-request" [routerLink]="['/payment-request/new']">-->
<!--            <fa-icon icon="plus"></fa-icon>-->
<!--            <span>-->
<!--            Create a new Payment Request-->
<!--            </span>-->
<!--        </button>-->
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="paymentRequests?.length === 0">
        <span>No paymentRequests found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="paymentRequests?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="msisdn"><span>Msisdn</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="amount"><span>Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="identificationNo"><span>Identification No</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="firstName"><span>First Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastName"><span>Last Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="comment"><span>Comment</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paymentState"><span>Payment State</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paymentTxId"><span>Payment Tx Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paymentMessage"><span>Payment Message</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bulkDisbursementBulkId"><span>Bulk Disbursement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="redeemSt"><span>Redeem Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let paymentRequest of paymentRequests ;trackBy: trackId">
                    <td><a [routerLink]="['/payment-request', paymentRequest.id, 'view']">{{ paymentRequest.id }}</a></td>
                    <td>{{ paymentRequest.msisdn }}</td>
                    <td>{{ paymentRequest.amount }}</td>
                    <td>{{ paymentRequest.identificationNo }}</td>
                    <td>{{ paymentRequest.firstName }}</td>
                    <td>{{ paymentRequest.lastName }}</td>
                    <td>{{ paymentRequest.comment }}</td>
                    <td>{{ paymentRequest.paymentState }}</td>
                    <td>{{ paymentRequest.paymentTxId }}</td>
                    <td>{{ paymentRequest.paymentMessage }}</td>
                    <td>
                        <div *ngIf="paymentRequest.bulkDisbursementId">
                            <a [routerLink]="['/bulk-disbursement', paymentRequest.bulkDisbursementId , 'view']" >{{ paymentRequest.bulkDisbursementBulkId }}</a>
                        </div>
                    </td>
                    <td>{{ paymentRequest.redeemSt }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/payment-request', paymentRequest.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

<!--                            <button type="submit" (click)="delete(paymentRequest)"-->
<!--                                    class="btn btn-danger btn-sm">-->
<!--                                <fa-icon icon="times"></fa-icon>-->
<!--                                <span class="d-none d-md-inline">Delete</span>-->
<!--                            </button>-->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="paymentRequests?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
