<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-payment-request-heading">Create or edit a Payment Request</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_msisdn">Msisdn</label>
                    <input type="text" class="form-control" name="msisdn" id="field_msisdn"
                           formControlName="msisdn"/>
                    <div *ngIf="editForm.get('msisdn')!.invalid && (editForm.get('msisdn')!.dirty || editForm.get('msisdn')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('msisdn')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_amount">Amount</label>
                    <input type="text" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                    <div *ngIf="editForm.get('amount')!.invalid && (editForm.get('amount')!.dirty || editForm.get('amount')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('amount')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_identificationNo">Identification No</label>
                    <input type="text" class="form-control" name="identificationNo" id="field_identificationNo"
                           formControlName="identificationNo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_comment">Comment</label>
                    <input type="text" class="form-control" name="comment" id="field_comment"
                           formControlName="comment"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_paymentState">Payment State</label>
                    <select class="form-control" name="paymentState" formControlName="paymentState" id="field_paymentState">
                        <option value="PENDING">PENDING</option>
                        <option value="SUCCESS">SUCCESS</option>
                        <option value="FAILED">FAILED</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_paymentTxId">Payment Tx Id</label>
                    <input type="text" class="form-control" name="paymentTxId" id="field_paymentTxId"
                           formControlName="paymentTxId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_paymentMessage">Payment Message</label>
                    <input type="text" class="form-control" name="paymentMessage" id="field_paymentMessage"
                           formControlName="paymentMessage"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_bulkDisbursement">Bulk Disbursement</label>
                    <select class="form-control" id="field_bulkDisbursement" name="bulkDisbursement" formControlName="bulkDisbursementId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bulkDisbursementOption.id" *ngFor="let bulkDisbursementOption of bulkdisbursements; trackBy: trackById">{{ bulkDisbursementOption.bulkId }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
