<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="remittanceTransaction">
            <h2><span>Remittance Transaction</span> {{ remittanceTransaction.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>External Id</span></dt>
                <dd>
                    <span>{{ remittanceTransaction.externalId }}</span>
                </dd>
                <dt><span>External Code</span></dt>
                <dd>
                    <span>{{ remittanceTransaction.externalCode }}</span>
                </dd>
                <dt><span>Beneficiary First Name</span></dt>
                <dd>
                    <span>{{ remittanceTransaction.beneficiaryFirstName }}</span>
                </dd>
                <dt><span>Beneficiary Last Name</span></dt>
                <dd>
                    <span>{{ remittanceTransaction.beneficiaryLastName }}</span>
                </dd>
                <dt><span>Beneficiary Msisdn</span></dt>
                <dd>
                    <span>{{ remittanceTransaction.beneficiaryMsisdn }}</span>
                </dd>
                <dt><span>Sender First Name</span></dt>
                <dd>
                    <span>{{ remittanceTransaction.senderFirstName }}</span>
                </dd>
                <dt><span>Sender Last Name</span></dt>
                <dd>
                    <span>{{ remittanceTransaction.senderLastName }}</span>
                </dd>
                <dt><span>Source Country Iso Code</span></dt>
                <dd>
                    <span>{{ remittanceTransaction.sourceCountryIsoCode }}</span>
                </dd>
                <dt><span>Sent Amount</span></dt>
                <dd>
                    <span>{{ remittanceTransaction.sentAmount }}</span>
                </dd>
                <dt><span>Sent Amount Currency</span></dt>
                <dd>
                    <span>{{ remittanceTransaction.sentAmountCurrency }}</span>
                </dd>
                <dt><span>Destination Amount</span></dt>
                <dd>
                    <span>{{ remittanceTransaction.destinationAmount }}</span>
                </dd>
                <dt><span>Destination Amount Currency</span></dt>
                <dd>
                    <span>{{ remittanceTransaction.destinationAmountCurrency }}</span>
                </dd>
                <dt><span>Creation Date</span></dt>
                <dd>
                    <span>{{ remittanceTransaction.creationDate }}</span>
                </dd>
                <dt><span>Status Message</span></dt>
                <dd>
                    <span>{{ remittanceTransaction.statusMessage }}</span>
                </dd>

                <dt><span>Mto Type</span></dt>
                <dd>
                    <span>{{ remittanceTransaction.mtoType }}</span>
                </dd>

                <dt><span>Status</span></dt>
                <dd>
                    <span>{{ remittanceTransaction.status }}</span>
                </dd>
                <!--<dt><span>Mto Type</span></dt>
                <dd>
                    <div *ngIf="remittanceTransaction.mtoTypeId">
                        <a [routerLink]="['/remittance-mto-types', remittanceTransaction.mtoTypeId, 'view']">{{ remittanceTransaction.mtoTypeDomaineId }}</a>
                    </div>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <div *ngIf="remittanceTransaction.statusId">
                        <a [routerLink]="['/remittance-transaction-status', remittanceTransaction.statusId, 'view']">{{ remittanceTransaction.statusDomaineId }}</a>
                    </div>
                </dd>-->
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <!--<button type="button"
                    [routerLink]="['/remittance-transaction', remittanceTransaction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>-->
        </div>
    </div>
</div>
