<div>
    <h2 id="page-heading">
        <span>Remittance Transactions</span>

        <!--<button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-remittance-transaction" [routerLink]="['/remittance-transaction/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Remittance Transaction
            </span>
        </button>-->
        <!--<div class="row">
            {{remittanceTransactionsToCancel | json}}
        </div>-->
        <div class="row">
            <div class="col">
                <select class="form-control" [(ngModel)]="operateur" name="operateur" id="field_operateur">
                    <option *ngFor="let op of remittanceMtoTypes" [value]="op.type">
                        {{op.label}}
                    </option>
                </select>
            </div>
            <div class="col">
                <select class="form-control" [(ngModel)]="status" name="status" id="field_status">
                    <option *ngFor="let st of remittanceStatus" [value]="st.type!== '' ? st.id+' - '+st.type : ''">
                        {{st.label}}
                    </option>
                </select>
            </div>
            <div class="col">
                <input type="text" [(ngModel)]="msisdn" class="form-control" placeholder="Msisdn">
            </div>
            <div class="col">
                <input type="text" [(ngModel)]="codeRefMto"  class="form-control" placeholder="Code référence MTO">
            </div>

            <div class="col">
                <input type="text" [(ngModel)]="idOperateur"  class="form-control" placeholder="Id Operateur">
            </div>

            <div class="col">
                <button id="jh-search-entity" class="btn btn-primary" type="submit" (click)="loadPageSearch()">
                    <fa-icon icon="search"></fa-icon>
                    <span>
            Rechercher
            </span>
                </button>
            </div>
        </div>
        <p>
        <td class="text-right">
            <div class="btn-group">
                <!--<button [disabled]="etat === 'KO'" class="btn btn-danger btn-sm">Annuler</button>-->
                <button [disabled]="!selectionEmpty" type="submit" (click)="annuler(remittanceTransactionsToCancel)"
                        class="btn btn-danger btn-sm">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Annuler</span>
                </button>
            </div>
        </td>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="remittanceTransactions?.length === 0">
        <span>No remittanceTransactions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="remittanceTransactions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"></th>
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="externalId"><span>External Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="externalCode"><span>External Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <!--<th scope="col"  jhiSortBy="beneficiaryFirstName"><span>Beneficiary First Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="beneficiaryLastName"><span>Beneficiary Last Name</span> <fa-icon icon="sort"></fa-icon></th>-->
                    <th scope="col"  jhiSortBy="beneficiaryMsisdn"><span>Beneficiary Msisdn</span> <fa-icon icon="sort"></fa-icon></th>
                    <!--<th scope="col"  jhiSortBy="senderFirstName"><span>Sender First Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="senderLastName"><span>Sender Last Name</span> <fa-icon icon="sort"></fa-icon></th>-->
                    <th scope="col"  jhiSortBy="sourceCountryIsoCode"><span>Source Country Iso Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sentAmount"><span>Sent Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <!--<th scope="col"  jhiSortBy="sentAmountCurrency"><span>Sent Amount Currency</span> <fa-icon icon="sort"></fa-icon></th>-->
                    <th scope="col"  jhiSortBy="destinationAmount"><span>Destination Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <!--<th scope="col"  jhiSortBy="destinationAmountCurrency"><span>Destination Amount Currency</span> <fa-icon icon="sort"></fa-icon></th>-->
                    <!--<th scope="col"  jhiSortBy="creationDate"><span>Creation Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="statusMessage"><span>Status Message</span> <fa-icon icon="sort"></fa-icon></th>-->
                    <th scope="col"  jhiSortBy="mtoTypeDomaineId"><span>Mto Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="statusDomaineId"><span>Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let remittanceTransaction of remittanceTransactions ;trackBy: trackId; let i = index">
                    <td>
                        <div *ngIf="!isFailed(remittanceTransaction.status)">
                            <input type="checkbox" (change)='onSelect($event,remittanceTransaction)'>
                        </div>
                    </td>
                    <td><a [routerLink]="['/remittance-transaction', remittanceTransaction.id, 'view']">{{ remittanceTransaction.id }}</a></td>
                    <td>{{ remittanceTransaction.externalId }}</td>
                    <td>{{ remittanceTransaction.externalCode }}</td>
                    <!--<td>{{ remittanceTransaction.beneficiaryFirstName }}</td>
                    <td>{{ remittanceTransaction.beneficiaryLastName }}</td>-->
                    <td>{{ remittanceTransaction.beneficiaryMsisdn }}</td>
                    <!--<td>{{ remittanceTransaction.senderFirstName }}</td>
                    <td>{{ remittanceTransaction.senderLastName }}</td>-->
                    <td>{{ remittanceTransaction.sourceCountryIsoCode }}</td>
                    <td>{{ remittanceTransaction.sentAmount }}</td>
                    <!--<td>{{ remittanceTransaction.sentAmountCurrency }}</td>-->
                    <td>{{ remittanceTransaction.destinationAmount }}</td>
                    <!--<td>{{ remittanceTransaction.destinationAmountCurrency }}</td>-->
                    <!--<td>{{ remittanceTransaction.creationDate }}</td>-->
                    <td>{{ remittanceTransaction.mtoType }}</td>
                    <td>{{ remittanceTransaction.status }}</td>

                    <!--<td>{{ remittanceTransaction.statusMessage }}</td>-->
                    <!--<td>
                        <div *ngIf="remittanceTransaction.mtoTypeId">
                            <a [routerLink]="['/remittance-mto-types', remittanceTransaction.mtoTypeId , 'view']" >{{ remittanceTransaction.mtoTypeDomaineId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="remittanceTransaction.statusId">
                            <a [routerLink]="['/remittance-transaction-status', remittanceTransaction.statusId , 'view']" >{{ remittanceTransaction.statusDomaineId }}</a>
                        </div>
                    </td>-->
                    <td class="text-right">
                        <div class="btn-group">

                            <button type="submit"
                                    [routerLink]="['/remittance-transaction', remittanceTransaction.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <!--<button type="submit"
                                    [routerLink]="['/remittance-transaction', remittanceTransaction.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(remittanceTransaction)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Annuler</span>
                            </button>-->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="remittanceTransactions?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
