<form *ngIf="remittanceTransactionsCancel?.length > 0" name="deleteForm" (ngSubmit)="confirmCancel()">
    <div class="modal-header">
        <h4 class="modal-title">Annuler</h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="cancel()">&times;</button>
    </div>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--{{remittanceTransactionsCancel | json}}-->
        <p id="jhi-delete-remittanceTransaction-heading">Etes vous sur de vouloir annuler cette / ces transaction(s) ?

        </p>
        <table>
            <tr *ngFor="let rtc of remittanceTransactionsCancel">
                <td><span class="badge badge-success">{{rtc.mtoType}}</span> - </td>
                <td><span class="badge badge-primary">{{rtc.externalCode}}</span> - </td>
                <td><span class="badge badge-success">{{rtc.externalId}}</span> - </td>
                <td><span class="badge badge-primary">{{rtc.beneficiaryMsisdn}}</span> - </td>
                <td><span class="badge badge-success">{{rtc.status}}</span></td>
            </tr>
        </table>

        <!--<input type="text" [(ngModel)]="comments" class="form-control" placeholder="Commentaire"/>-->
    </div>
    <!--<div class="col">
        <input type="text" [(ngModel)]="comments" class="form-control" placeholder="Commentaire">
    </div>-->

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span>Non</span>
        </button>

        <button id="jhi-confirm-delete-remittanceTransaction" type="submit" class="btn btn-danger">
            <fa-icon icon="times"></fa-icon>&nbsp;<span>Oui, Annuler</span>
        </button>
    </div>
</form>
