<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-remittance-transaction-heading">Create or edit a Remittance Transaction</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_externalId">External Id</label>
                    <input type="number" class="form-control" name="externalId" id="field_externalId"
                           formControlName="externalId"/>
                    <div *ngIf="editForm.get('externalId')!.invalid && (editForm.get('externalId')!.dirty || editForm.get('externalId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('externalId')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('externalId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_externalCode">External Code</label>
                    <input type="text" class="form-control" name="externalCode" id="field_externalCode"
                           formControlName="externalCode"/>
                    <div *ngIf="editForm.get('externalCode')!.invalid && (editForm.get('externalCode')!.dirty || editForm.get('externalCode')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('externalCode')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_beneficiaryFirstName">Beneficiary First Name</label>
                    <input type="text" class="form-control" name="beneficiaryFirstName" id="field_beneficiaryFirstName"
                           formControlName="beneficiaryFirstName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_beneficiaryLastName">Beneficiary Last Name</label>
                    <input type="text" class="form-control" name="beneficiaryLastName" id="field_beneficiaryLastName"
                           formControlName="beneficiaryLastName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_beneficiaryMsisdn">Beneficiary Msisdn</label>
                    <input type="text" class="form-control" name="beneficiaryMsisdn" id="field_beneficiaryMsisdn"
                           formControlName="beneficiaryMsisdn"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_senderFirstName">Sender First Name</label>
                    <input type="text" class="form-control" name="senderFirstName" id="field_senderFirstName"
                           formControlName="senderFirstName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_senderLastName">Sender Last Name</label>
                    <input type="text" class="form-control" name="senderLastName" id="field_senderLastName"
                           formControlName="senderLastName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sourceCountryIsoCode">Source Country Iso Code</label>
                    <input type="text" class="form-control" name="sourceCountryIsoCode" id="field_sourceCountryIsoCode"
                           formControlName="sourceCountryIsoCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sentAmount">Sent Amount</label>
                    <input type="number" class="form-control" name="sentAmount" id="field_sentAmount"
                           formControlName="sentAmount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sentAmountCurrency">Sent Amount Currency</label>
                    <input type="text" class="form-control" name="sentAmountCurrency" id="field_sentAmountCurrency"
                           formControlName="sentAmountCurrency"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_destinationAmount">Destination Amount</label>
                    <input type="number" class="form-control" name="destinationAmount" id="field_destinationAmount"
                           formControlName="destinationAmount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_destinationAmountCurrency">Destination Amount Currency</label>
                    <input type="text" class="form-control" name="destinationAmountCurrency" id="field_destinationAmountCurrency"
                           formControlName="destinationAmountCurrency"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_creationDate">Creation Date</label>
                    <input type="text" class="form-control" name="creationDate" id="field_creationDate"
                           formControlName="creationDate"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_statusMessage">Status Message</label>
                    <input type="text" class="form-control" name="statusMessage" id="field_statusMessage"
                           formControlName="statusMessage"/>
                </div>

                <!--<div class="form-group">
                    <label class="form-control-label" for="field_mtoType">Mto Type</label>
                    <select class="form-control" id="field_mtoType" name="mtoType" formControlName="mtoTypeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="remittanceMtoTypesOption.id" *ngFor="let remittanceMtoTypesOption of remittancemtotypes; trackBy: trackById">{{ remittanceMtoTypesOption.domaineId }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" id="field_status" name="status" formControlName="statusId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="remittanceTransactionStatusOption.id" *ngFor="let remittanceTransactionStatusOption of remittancetransactionstatuses; trackBy: trackById">{{ remittanceTransactionStatusOption.domaineId }}</option>
                    </select>
                </div>-->
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
