<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-bulk-disbursement-heading">Create or edit a Bulk Disbursement</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group" [hidden]="!editForm.get('bulkId')!.value">
                    <label class="form-control-label" for="field_bulkId">Bulk Id</label>
                    <input type="text" class="form-control" name="bulkId" id="field_bulkId" readonly
                           formControlName="bulkId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_msisdnSource">Compte Free money à débiter </label>
                    <input type="text" class="form-control" name="msisdnSource" id="field_msisdnSource"
                           formControlName="msisdnSource"/>
                    <div *ngIf="editForm.get('msisdnSource')!.invalid && (editForm.get('msisdnSource')!.dirty || editForm.get('msisdnSource')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('msisdnSource')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type de chargement</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="BOURSE_ETUDIANT">BOURSE_ETUDIANT</option>
                        <option value="FREE_STAFF">FREE_STAFF</option>
                        <option value="SALAIRE_DEALER">SALAIRE_DEALER</option>
                    </select>
                    <div *ngIf="editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('type')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                              formControlName="description"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="bulk_payment">Fichier à précharger</label>
                    <input (change)="onFileChange($event)" accept="text/csv, application/csv" class="form-control" name="bulk_payment" type="file" id="bulk_payment"/>
                </div>

                <div class="form-group" style="visibility: hidden;">
                    <label class="form-control-label" for="field_processingStatus">Processing Status</label>
                    <select class="form-control" name="processingStatus" formControlName="processingStatus" id="field_processingStatus">
                        <option value="INITIATED">INITIATED</option>
                        <option value="VALIDATED">VALIDATED</option>
                        <option value="PROCESSING">PROCESSING</option>
                        <option value="PROCESSED">PROCESSED</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
