<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bulkDisbursement">
            <h2><span>Bulk Disbursement</span> {{ bulkDisbursement.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Bulk Id</span></dt>
                <dd>
                    <span>{{ bulkDisbursement.bulkId }}</span>
                </dd>
                <dt><span>Msisdn Source</span></dt>
                <dd>
                    <span>{{ bulkDisbursement.msisdnSource }}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{ bulkDisbursement.type }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ bulkDisbursement.description }}</span>
                </dd>
                <dt><span>Processing Status</span></dt>
                <dd>
                    <span>{{ bulkDisbursement.processingStatus }}</span>
                </dd>
                <dt><span>Upload Start</span></dt>
                <dd>
                    <span>{{ bulkDisbursement.uploadStart }}</span>
                </dd>
                <dt><span>Upload End</span></dt>
                <dd>
                    <span>{{ bulkDisbursement.uploadEnd }}</span>
                </dd>
                <dt><span>Payment Start</span></dt>
                <dd>
                    <span>{{ bulkDisbursement.paymentStart }}</span>
                </dd>
                <dt><span>Payment End</span></dt>
                <dd>
                    <span>{{ bulkDisbursement.paymentEnd }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/payment-request/bulk/', bulkDisbursement.bulkId]"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Voir les paiements</span>
            </button>
            <ng-container *jhiHasAnyAuthority="[ 'ROLE_MFS_ADMIN']">
                <button type="button" *ngIf="bulkDisbursement.processingStatus === bulkDisbursementProcessingStatus"
                        (click)="doPayment(bulkDisbursement.id)"
                        class="btn btn-success">
                    <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Valider les paiements</span>
                </button>
            </ng-container>
        </div>
    </div>
</div>
