<div>
    <h2 id="page-heading">
        <span>Bulk Disbursements</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bulk-disbursement"
                [routerLink]="['/bulk-disbursement/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Bulk Disbursement
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="bulkDisbursements?.length === 0">
        <span>No bulkDisbursements found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="bulkDisbursements?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bulkId"><span>Bulk Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="msisdnSource"><span>Msisdn Source</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span>Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="processingStatus"><span>Processing Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="uploadStart"><span>Date Soumission</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paymentStart"><span>Date Validation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bulkDisbursement of bulkDisbursements ;trackBy: trackId">
                    <td><a [routerLink]="['/bulk-disbursement', bulkDisbursement.id, 'view']">{{ bulkDisbursement.id }}</a></td>
                    <td>{{ bulkDisbursement.bulkId }}</td>
                    <td>{{ bulkDisbursement.msisdnSource }}</td>
                    <td>{{ bulkDisbursement.type }}</td>
                    <td>{{ bulkDisbursement.description }}</td>
                    <td>{{ bulkDisbursement.processingStatus }}</td>
                    <td>{{ bulkDisbursement.uploadEnd | date:'short' }}</td>
                    <td>{{ bulkDisbursement.paymentStart | date:'short' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/bulk-disbursement', bulkDisbursement.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                        <ng-container *jhiHasAnyAuthority="[ 'ROLE_MFS_ADMIN']">
                            <button type="submit" *ngIf="bulkDisbursement.processingStatus === 'INITIATED'"
                                    (click)="askPin(bulkDisbursement.id)"
                                    class="btn btn-success btn-sm">
                                <span class="d-none d-md-inline">Valider le paiement</span>
                            </button>
                            <button type="submit" *ngIf="bulkDisbursement.processingStatus !== 'INITIATED'"
                                    (click)="report(bulkDisbursement.bulkId)"
                                    class="btn btn-warning btn-sm">
                                <span class="d-none d-md-inline">Rapport</span>
                            </button>
                        </ng-container>

                        <!--                            <button type="submit" (click)="delete(bulkDisbursement)"-->
                        <!--                                    class="btn btn-danger btn-sm">-->
                        <!--                                <fa-icon icon="times"></fa-icon>-->
                        <!--                                <span class="d-none d-md-inline">Delete</span>-->
                        <!--                            </button>-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="bulkDisbursements?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
                            [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                            (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
