<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="remittanceTransactionSent">
            <h2><span>Remittance Transaction Sent</span> {{ remittanceTransactionSent.id }}</h2>
            <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
    </button>
            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>mobiquityTransactionId</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.mobiquityTransactionId }}</span>
                </dd>
                <dt><span>mtoTransactionId</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.mtoTransactionId }}</span>
                </dd>
                <dt><span>createdAt</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.createdAt }}</span>
                </dd>
                <dt><span>updatedAt</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.updatedAt }}</span>
                </dd>
                <dt><span>Beneficiary Msisdn</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.beneficiaryMsisdn }}</span>
                </dd>
                <dt><span>recipientSurname</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.recipientSurname }}</span>
                </dd>
                <dt><span>recipientLastName</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.recipientLastName }}</span>
                </dd>
                <dt><span>recipientPrename</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.recipientPrename }}</span>
                </dd>
                <dt><span>recipientMiddleName</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.recipientMiddleName }}</span>
                </dd>
                <dt><span>recipientPostalCode</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.recipientPostalCode }}</span>
                </dd>
                <dt><span>recipientState</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.recipientState }}</span>
                </dd>
                <dt><span>recipientToCountry</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.recipientToCountry }}</span>
                </dd>
                <dt><span>recipientMsisdn</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.recipientMsisdn }}</span>
                </dd>
                <dt><span>recipientAddress</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.recipientAddress }}</span>
                </dd>

                <dt><span>recipientCity</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.recipientCity }}</span>
                </dd>

                <dt><span>recipientDateOfBirth</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.recipientDateOfBirth }}</span>
                </dd>

                <dt><span>recipientIdNumber</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.recipientIdNumber }}</span>
                </dd>
                
                <dt><span>recipientIdType</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.recipientIdType }}</span>
                </dd>

                <dt><span>recipientIdCountry</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.recipientIdCountry }}</span>
                </dd>

                <dt><span>recipientExpirationDate</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.recipientExpirationDate }}</span>
                </dd>

                <dt><span>recipientEmail</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.recipientEmail }}</span>
                </dd>

                <dt><span>senderFirstName</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.senderFirstName }}</span>
                </dd>

                <dt><span>senderLastName</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.senderLastName }}</span>
                </dd>

                <dt><span>senderMiddleName</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.senderMiddleName }}</span>
                </dd>

                <dt><span>senderAddress</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.senderAddress }}</span>
                </dd>

                <dt><span>senderCity</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.senderCity }}</span>
                </dd>

                <dt><span>senderDateOfBirth</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.senderDateOfBirth }}</span>
                </dd>

                <dt><span>senderIdNumber</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.senderIdNumber }}</span>
                </dd>

                <dt><span>senderIdType</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.senderIdType }}</span>
                </dd>

                <dt><span>senderIdCountry</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.senderIdCountry }}</span>
                </dd>

                <dt><span>senderEmail</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.senderEmail }}</span>
                </dd>

                <dt><span>senderFromCountry</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.senderFromCountry }}</span>
                </dd>

                <dt><span>senderMsisdn</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.senderMsisdn }}</span>
                </dd>

                <dt><span>senderIdExpirationDate</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.senderIdExpirationDate }}</span>
                </dd>

                <dt><span>senderSurname</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.senderSurname }}</span>
                </dd>

                <dt><span>senderPostalCode</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.senderPostalCode }}</span>
                </dd>

                <dt><span>sentAmount</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.sentAmount }}</span>
                </dd>

                <dt><span>sentCurrencyCode</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.sentCurrencyCode }}</span>
                </dd>

                <dt><span>sentFeeAmount</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.sentFeeAmount }}</span>
                </dd>

                <dt><span>sentFeeCurrencyCode</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.sentFeeCurrencyCode }}</span>
                </dd>

                <dt><span>codeMto</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.codeMto }}</span>
                </dd>

                <dt><span>transactionStatus</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.transactionStatus }}</span>
                </dd>

                <dt><span>transactionStatusMessage</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.transactionStatusMessage }}</span>
                </dd>

                <dt><span>transactionAttemptsNumber</span></dt>
                <dd>
                    <span>{{ remittanceTransactionSent.transactionAttemptsNumber }}</span>
                </dd>


            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>
        </div>
    </div>
</div>
