<div>
    <h2 id="page-heading">
        <span>Remittance Transactions Sent</span>
        <div class="row">
           
            <div class="col">
                <input type="text" [(ngModel)]="msisdn" class="form-control" placeholder="Msisdn">
            </div>
            <div class="col">
                <button id="jh-search-entity" class="btn btn-primary" type="submit" (click)="loadPageSearch()">
                    <fa-icon icon="search"></fa-icon>
                    <span>
            Rechercher
            </span>
                </button>
            </div>
            <div class="col">
                <button id="jh-export-entity" class="btn btn-primary" type="submit" (click)="exportAsXLSX()">
                    <fa-icon icon="file-excel"></fa-icon>
                    <span>
            Exporter
            </span>
                </button>
            </div>
        </div>
        <p>

    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="remittanceTransactions?.length === 0">
        <span>No remittanceTransactionsSent found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="remittanceTransactions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdAt"><span>Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mobiquityTransactionId"><span>mobiquityTransactionId</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codeMto"><span>codeMto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mtoTransactionId"><span>mtoTransactionId</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="recipientMsisdn"><span>recipientMsisdn</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="recipientIdCountry"><span>recipientIdCountry</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sentAmount"><span>sentAmount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sentFeeAmount"><span>sentFeeAmount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="transactionStatus"><span>transactionStatus</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let remittanceTransactionSent of remittanceTransactions ;trackBy: trackId; let i = index">
                    <td><a [routerLink]="['/remittance-transaction', remittanceTransactionSent.id, 'view']">{{ remittanceTransactionSent.id }}</a></td>
                    <td>{{ remittanceTransactionSent.createdAt }}</td>
                    <td>{{ remittanceTransactionSent.mobiquityTransactionId }}</td>
                    <td>{{ remittanceTransactionSent.codeMto }}</td>
                    <td>{{ remittanceTransactionSent.mtoTransactionId }}</td>
                    <td>{{ remittanceTransactionSent.recipientMsisdn }}</td>
                    <td>{{ remittanceTransactionSent.recipientIdCountry }}</td>
                    <td>{{ remittanceTransactionSent.sentAmount }}</td>
                    <td>{{ remittanceTransactionSent.sentFeeAmount }}</td>
                    <td>{{ remittanceTransactionSent.transactionStatus }}</td>

                    <td class="text-right">
                        <div class="btn-group">

                            <button type="submit"
                                    [routerLink]="['/remittance-transaction-sent', remittanceTransactionSent.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="remittanceTransactions?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
