<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="remittanceMtoTypes">
            <h2><span>Remittance Mto Types</span> {{ remittanceMtoTypes.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Domaine Id</span></dt>
                <dd>
                    <span>{{ remittanceMtoTypes.domaineId }}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{ remittanceMtoTypes.type }}</span>
                </dd>
                <dt><span>Label</span></dt>
                <dd>
                    <span>{{ remittanceMtoTypes.label }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ remittanceMtoTypes.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/remittance-mto-types', remittanceMtoTypes.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
