<div>
    <h2 id="page-heading">
        <span>Remittance Transaction Statuses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-remittance-transaction-status" [routerLink]="['/remittance-transaction-status/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Remittance Transaction Status
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="remittanceTransactionStatuses?.length === 0">
        <span>No remittanceTransactionStatuses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="remittanceTransactionStatuses?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="domaineId"><span>Domaine Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span>Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="label"><span>Label</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let remittanceTransactionStatus of remittanceTransactionStatuses ;trackBy: trackId">
                    <td><a [routerLink]="['/remittance-transaction-status', remittanceTransactionStatus.id, 'view']">{{ remittanceTransactionStatus.id }}</a></td>
                    <td>{{ remittanceTransactionStatus.domaineId }}</td>
                    <td>{{ remittanceTransactionStatus.type }}</td>
                    <td>{{ remittanceTransactionStatus.label }}</td>
                    <td>{{ remittanceTransactionStatus.description }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/remittance-transaction-status', remittanceTransactionStatus.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/remittance-transaction-status', remittanceTransactionStatus.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(remittanceTransactionStatus)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="remittanceTransactionStatuses?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
